
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using MagillStore.WebSite.Models;
@using MagillStore.WebSite.Components;



<!-- header info-->
<div class="text-center">
    <h1 class="display-4"><b>Magill's Computer Store</b></h1>
    <h4>Owner:  Rich Magill</h4>
    <div><img border="0" src="~/images/store.PNG" style="width:900px;height:200px;"></div>
    <h2>Our store specializes in pre-built and customized-to-order computers.</h2>
    <h2>We also offer many other computer accessories!</h2>
    <h3><a href="./Locations">View Locations</a></h3>
</div>
<br />

<h3>Our Product Categories:</h3>

<!-- this uses a blazor component (called ProductCategoryList)) to display the categories-->
@(await Html.RenderComponentAsync<ProductCategoryList>(RenderMode.ServerPrerendered))
<script src="_framework/blazor.server.js"></script>

<!-- this uses the SQLite database and IEnumerable<ProductCategory> interface to display  product categories -->
@*<div class="card-columns">
    @foreach (var category in Model.ProductCategories)
    {
        <div class="card">
            <div class="card-body"><b>@category.ProductCategoryName</b><img border="0" src=@category.ImageUrl style="width:100px;height:100px;"><p></p><a href="@Url.Page(category.Page)">View Products</a></div>
        </div>

        }
    </div>
    <br />*@


@*<h3>Products:</h3>*@


@*-- this uses the json Product file and IEnumerable<ProductCategory> interface  to display  products instead of the Product database*@
@*<div class="card-columns">
        @foreach (var product in Model.Products)
        {
            <div class="card">
                <div class="card-body">
                    <b>Computer Type:</b> @product.ComputerType <p></p>
                    <b>Memory(GB):</b> @product.Memory <p></p>
                    <b>Operating System:</b> @product.OperatingSystem <p></p>
                    <b>Processor:</b> @product.Processor <p></p>
                    <b>Price</b> =$@product.Price <p></p>
                    <button>Add to cart</button>
                </div>
            </div>
        }
    </div>*@
